<a href="/agents">Back to all agents</a>

<h1>New Agent</h1>

<form method="POST" action="/agents">

  <label for="name">Agent Name:</label>
  <input 
  type="text" 
  name="name" 
  id="name" 
  placeholder="name"
  >

  <label for="specialty">Specialty</label>
  <input 
  type="text" 
  name="specialty" 
  id="specialty" 
  placeholder="specialty"
  >

  <label for="areas-served">Areas Served:</label>
  <input 
  type="text" 
  name="areasServed" 
  id="areas-served" 
  placeholder="Areas Served"
  >

  <label for="team">Team:</label>
  <input 
  type="text" 
  name="team" 
  id="team" 
  placeholder="team"
  >

  <input type="submit" value="Create Agent" />
</form>