<a class="btn btn-outline-light non-group-button" href="/agents">Back to all agents</a>

<h2>New Agent</h2>

  <form class="non-button" method="POST" action="/agents">

    <label for="name">Agent Name: </label>
    <input type="text" name="name" id="name" placeholder="Name">
    <br>
    <label for="specialty">Specialty: </label>
    <input type="text" name="specialty" id="specialty" placeholder="Specialty">
    <br>
    <label for="areas-served">Areas Served: </label>
    <input type="text" name="areasServed" id="areas-served" placeholder="Areas Served">
    <br>
    <label for="team">Team: </label>
    <input type="text" name="team" id="team" placeholder="Team">
    <br>
    <input type="submit" class="btn btn-outline-success non-group-button" value="Create Agent" />
  </form>