<a class="btn btn-outline-secondary non-group-button" href="/agents/{{agentId}}">Back to agent</a>

<h2>New Client</h2>

<form method="POST" action="/agents/{{agentId}}/client">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name">

    <label for="property-types">Property Types</label>
    <input type="text" name="propertyTypes" id="property-types" placeholder="Property Types">

    <label for="neighborhoods">Neighborhoods</label>
    <input type="text" name="neighborhoods" id="neighborhoods" placeholder="Neighborhoods">

    <label for="price-range">Price Range</label>
    <input type="text" name="priceRange" id="price-range" placeholder="Price Range">

    <label for="beds">Beds</label>
    <input type="number" name="beds" id="beds" placeholder="Beds">

    <label for="baths">Baths</label>
    <input type="number" name="baths" id="baths" placeholder="Baths">

    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="phone">Phone</label>
    <input type="tel" name="phone" id="phone">
<br>
    <input type="submit" class="btn btn-outline-success non-group-button" value="Create Client" />
</form>